*{
    box-sizing: border-box;
}

body{
    font-family:'Courier New', Courier, monospace;
    margin: 0;
    padding: 0;
    overflow: hidden;
    height: 100vh;
    width: 100%;
    background-image: url(stock/img/bg.png);
    background-repeat: no-repeat;
    background-size: cover;
}

a{
    text-decoration: none;
    color: black;
}

.menu{
    position: absolute;
    top: 0;
    left: -100%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: orange;
    transition: .4s;
}

nav{
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-size: 40px;
    padding: 0 0 50px 0;
}

header{
    width: 100vw;
    padding: 10px;
    background-color: orange;
}

.left0{
    left: 0%;
}

.cross{
    position: absolute;
    top: 2%;
    left: 5%;
}

.map-popup{
    opacity: 0;
    z-index: -1;
    height: 60%;
    width: 90%;
    padding: 50px 0 0 0;
    background-color: orange;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 20px 20px 0 0;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

#map{
    width: 100%;
    height: 100%;
}

.cross-popup{
    position: absolute;
    top: 1%;
    right: 2%;
}

.hide{
    display: none;
}

.map-menu{
    position: absolute;
    right: 3%;
    bottom: 2%;
    width: 15%;
    padding: 10px;
    background-color: orange;
    border-radius: 50%;
}