*{
    box-sizing: border-box;
}

body{
    font-family:'Courier New', Courier, monospace;
    margin: 0;
    padding: 0;
    overflow: hidden;
    height: 100vh;
    width: 100%;
    background-image: url(stock/img/bg.png);
    background-repeat: no-repeat;
    background-size: cover;
}

a{
    text-decoration: none;
    color: black;
}

.menu{
    position: absolute;
    top: 0;
    left: -100%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: orange;
    transition: .4s;
}

nav{
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-size: 40px;
}

header{
    width: 100vw;
    padding: 10px;
    background-color: orange;
}

.left0{
    left: 0%;
}

.cross{
    position: absolute;
    top: 2%;
    left: 5%;
}